<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.text_field :genre_id, id: :restaurant_genre_id %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :restaurant_rating %>
  </div>

  <div class="field">
    <%= form.label :card %>
    <%= form.check_box :card, id: :restaurant_card %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :restaurant_address %>
  </div>

  <div class="field">
    <%= form.label :max_delivery_time %>
    <%= form.number_field :max_delivery_time, id: :restaurant_max_delivery_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
