<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @restaurant.genre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<p>
  <strong>Card:</strong>
  <%= @restaurant.card %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Max delivery time:</strong>
  <%= @restaurant.max_delivery_time %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
