<!DOCTYPE html>
<html>
  <head>

    <title>WeEat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/app/assets/fonts/stylesheet.css" type="text/css" charset="utf-8" />
    <%= javascript_pack_tag 'card_react' %>
    <%= javascript_pack_tag 'main_react' %>
  </head>

  <body class="matan">
    <%= yield %>
  </body>
</html>
